:root.theme-dark {
  --accent-color: #FF0070;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --title-decor: #FF0070;
  --section-title-color: #FF0070;
  --section-subtitle-color: #000028;
  --text-color: #F1B2CE;
  --background-color: #000028;
  --menu-color: #FF0070;
  --menu-hover: rgba(255, 0, 112, 0.4);
  --rec-color: #FF0070;
  --decor-color: #FF0070;
  --link-shadow: #FF0070;
  --rec-display: flex;
}
