:root.theme-light {
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --title-shadow: #FF8DCB;
  --title-decor: #FF8DCB;
  --section-title-color: #353430;
  --section-subtitle-color: #353430;
  --text-color: #353430;
  --background-color: #FFF1F7;
  --menu-color: #353430;
  --menu-hover: rgba(50, 49, 45, 0.4);
  --rec-color: transparent;
  --decor-color: #353430;
  --link-shadow: #FF8DCB;
  --rec-display: none;
}
