:root {
  --basic-pink: #FF8DCB;
  --title-pink: #FFC2E6;
  --almost-white-bg: #FFF1F7;
  --real-red: #ff0070;
  --main-font: "IBM Plex Mono", sans-serif;
  --approximately-black: #000028;
  --almost-black: #353430;
  --regular-font-size: 18px;
  --regular-line-height: 100%;
  --regular-gap: 10px;
  --decoration-gap: clamp(10px , 2.65vw , 20px);
  --min-height: 668px;
  --header-margin-left: min(10px , 20px - 2.6vw);
  --section-child-margin: 40px;
  --corner-thickness: 1px;
  --rec_x_pos: 30px;
}
